<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="orangeHRM">
    <test name="functinal">
        <classes>
            <class name="learn_testNG.LearnTesting"/>
            <class name="learn_testNG.SearchEmployer"></class>



        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->